.GraphTitle-container {
  position: fixed;
  width: 100%;
  top: 4px;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GraphTitle-titleWrapper {
  width: 500px;
}

.GraphTitle-title {
  font-size: var(--l);
  font-weight: 600;
  text-align: center;
}
