.NavBar-container {
  padding: var(--s) var(--m);
  background-color: var(--background-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  box-sizing: border-box;
  z-index: 100;
  flex: 0 0 auto;
  /* overflow: scroll; */
}

.NavBar-title {
  color: var(--background-main);
  font-size: var(--m);
  font-weight: 600;
}

.NavBar-crumb {
  color: var(--text-dark);
  font-size: var(--m);
  font-weight: 600;
}

.NavBar-crumb-previous {
  opacity: 0.2;
}

.NavBar-crumb-current {
}

.NavBar-logo {
  background-color: rgb(182, 182, 182);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.NavBar-slash {
  margin: 0px 4px;
  font-size: 24px;
  opacity: 0.2;
}

.NavBar-linkContainer {
  margin-left: var(--l);
}

.NavBar-link,
.NavBar-link:visited {
  font-size: var(--xl);
  font-weight: 600;
  color: var(--darkgrey);
  opacity: 1;
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
  z-index: 300;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--l);
}

.NavBar-saveSuccessful {
  position: fixed;
  padding: 8px 6px 8px 10px;
  background-color: var(--background-main);
  top: 16px;
  left: 520px;
  color: white;
}

.NavBar-saveSuccessfulClose {
  margin-left: 8px;
  padding: 2px 6px 2px 5px;
  border: 2px solid white;
  text-align: center;
}

.NavBar-saveSuccessfulClose:hover {
  cursor: pointer;
  border-color: gray;
  color: gray;
}
