/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,200&display=swap");

:root {
  --primary: #efefef;
  --primary--dim: #6987db;
  --darkgrey: #4e4e4e;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --grey-transparent: #a5a5a560;
  --white: #fff;
  --background-main: #99a880;
  --background-main-dark: #768360;

  --background-main-light: #c1d7ae;
  --background-secondary: #92140c;
  --background-tertiary: #006d77;
  --background-tertiary-dark: #00464d;

  --background-main-transparent: #a3b18aaf;
  --background-main-light-transparent: rgba(163, 177, 138, 0.267);

  --background-light: rgb(255, 255, 255);
  --background-gray: #e1e1e1;

  --text-dark: rgb(0, 0, 0);
  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --m2: 20px;
  --l: 24px;

  --xl: 32px;
  --xxl: 48px;

  --weight-s: 300;
  --weight-m: 500;
  --weight-l: 700;

  --main-font-family: "Roboto", sans-serif;

  --base-icon-color: #aaaaaa;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  height: 100%;
}

form {
  flex-grow: 1;
}

.u-spacer-8 {
  width: 8px;
  height: 8px;
}

.u-spacer-16 {
  width: 16px;
  height: 16px;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-default-shadow {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

.u-noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
