.HeirarchyItem-container {
  font-size: 14px;
  width: 100%;
}

.HeirarchyItem-boundaryUnselected {
  padding: 6px 2px;

  box-sizing: border-box;
  border: solid 2px transparent;
}

.HeirarchyItem-boundaryUnselected:hover {
  border: solid 2px var(--background-main);
}

.HeirarchyItem-boundarySelected {
  padding: 6px 2px;

  box-sizing: border-box;
  background-color: var(--background-main-light);
  border: solid 2px rgba(0, 0, 0, 0);
}

.HeirarchyItem-spacer {
  width: 22px;
  flex-shrink: 0;
}

.HeirarchyItem-arrowContainer {
  width: 24px;
  position: relative;
  flex-shrink: 0;
}

.HeirarchyItem-arrow {
  position: absolute;
  left: -2px;
  top: -3px;
  opacity: 0.7;
}

.HeirarchyItem-arrow:hover {
  cursor: pointer;
  background-color: rgba(148, 148, 148, 0.384);
}

.HeirarchyItem-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0px;
  padding-top: 2px;
  margin-left: 10px;
  box-sizing: border-box;
}

.HeirarchyItem-children {
  position: relative;
}

.HeirarchyItem-childrenLine {
  position: absolute;
  width: 1px;
  height: calc(100% - 20px);
  top: 10px;
  background-color: var(--medgrey);
}

.HeirarchyItem-childrenLineSelected {
  width: 2px;
  background-color: var(--background-main);
}

.HeirarchyItem-nonSelectable {
  opacity: 0.5;
}
