.HeirarchyPanel-outerContainer {
  background-color: white;
  box-sizing: border-box;
  z-index: 50;
  flex: 0 0 auto;
  overflow: visible;
  position: relative;
}

.HeirarchyPanel-container {
  height: 100%;
  width: 100%;
  overflow: overlay;
  position: relative;
}

.HeirarchyPanel-resizeHandle {
  position: absolute;
  right: -8px;
  top: 0px;
  height: 100%;
  width: 16px;
  border-right: 4px solid rgb(170, 170, 170);
  opacity: 0;
}

.HeirarchyPanel-resizeHandle:hover {
  opacity: 0.5;
}

.HeirarchyPanel-headings {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: var(--weight-m);
  background-color: white;
  z-index: 1000;
}

.HeirarchyPanel-headingUnselected {
  opacity: 0.3;
  cursor: pointer;
}

.HeirarchyPanel-headingUnselected:hover {
  opacity: 0.8;
}

.HeirarchyPanel-selected {
  opacity: 1;
  cursor: pointer;
}
