.CanvasNode-base {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  word-wrap: break-word; /* IE */
  pointer-events: auto;
}

.CanvasNode-container {
  position: absolute;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CanvasNode-innerContainer {
  padding: 12px 24px 18px 24px;
  height: 78px;
  box-sizing: border-box;
  white-space: nowrap; /* Chrome */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CanvasNode-classIcon {
  position: absolute;
  bottom: -10px;
  left: -7px;
  /* bottom: -10px; */
  opacity: 0.5;
  color: var(--background-main-transparent);
}

.CanvasNode-functionContainer {
  display: flex;
  align-items: center;
  position: relative;
  margin: 4px 0px;
}

.CanvasNode-functionParentContainer {
  position: absolute;
  font-weight: var(--weight-s);
  font-size: 11px;
  color: gray;
  font-style: italic;
}

.CanvasNode-selected {
  outline: 4px dashed var(--background-main);
  outline-offset: 4px;
}

.CanvasNode-unselected {
  outline-offset: 0px;
  transition: outline-offset 0.1s;
}

.CanvasNode-unselected:hover {
  outline: 2px dashed var(--background-main-transparent);
  outline-offset: 4px;
}

.CanvasNode-nameText {
  font-size: var(--l);
  font-weight: var(--weight-m);
}

.CanvasNode-parentText {
  font-size: 14px;
  color: gray;
}

.CanvasNode-circleContainer {
  position: absolute;
  width: 100%;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CanvasNode-input {
  top: -20px;
}

.CanvasNode-output {
  bottom: -20px;
}
