.CanvasNode-base {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  word-wrap: break-word; /* IE */
}

.CanvasNode-container {
  position: absolute;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CanvasNode-innerContainer {
  padding: 12px 24px 18px 24px;
  white-space: nowrap; /* Chrome */
}

.CanvasNode-selected {
  outline: 4px dashed var(--background-main);
  outline-offset: 4px;
}

.CanvasNode-unselected:hover {
  outline: 2px dashed var(--background-main-transparent);
  outline-offset: 4px;
}

.CanvasNode-nameText {
  font-size: var(--l);
  font-weight: var(--weight-m);
}

.CanvasNode-parentText {
  font-size: var(--m);
}

.CanvasNode-circleContainer {
  position: absolute;
  width: 100%;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CanvasNode-input {
  top: -20px;
}

.CanvasNode-output {
  bottom: -20px;
}
