.AddPropertyButton-container {
  height: 26px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: var(--weight-m);
}

.AddPropertyButton-innerContainer {
  background-color: var(--background-main);
  height: 100%;
  padding: 0px var(--m);
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddPropertyButton-innerContainer:hover {
  cursor: pointer;
  background-color: var(--background-main-dark);
}

.AddPropertyButton-secondary {
  background-color: var(--background-tertiary);
}

.AddPropertyButton-secondary:hover {
  background-color: var(--background-tertiary-dark);
}
