.FunctionItem-container {
  padding: var(--s);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.FunctionItem-container:hover {
  cursor: pointer;
  background-color: var(--background-main-light-transparent);
}

.FunctionItem-text {
  font-size: var(--m);
  font-weight: var(--weight-s);
  margin-left: 8px;
}

.FunctionItem-parentheses {
  padding: 0px 4px;
}

.FunctionItem-editingContainer {
  /* padding: var(--m); */
  box-sizing: border-box;
  border: 2px solid var(--background-main);
  margin-bottom: 4px;
  background-color: var(--background-main-light-transparent);
}

.FunctionItem-subContainer {
  padding: var(--m);
  box-sizing: border-box;
}

.FunctionItem-editingContainerHeader {
  padding: var(--s);
  background-color: var(--background-main);
  color: white;
  font-weight: var(--weight-m);
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FunctionItem-editingSaveButton {
  background-color: var(--background-tertiary);
  outline: none;
  border: none;
  color: white;
  padding: var(--s) 16px;
  margin-right: 6px;
}

.FunctionItem-editingSaveButton:hover {
  cursor: pointer;
  background-color: var(--background-tertiary-dark);
}

.FunctionItem-editingSaveButton:focus {
  outline: 2px solid var(--background-main);
}

.FunctionItem-editingCancelButton {
  padding: 0px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  background-color: transparent;
  border: none;
  outline: none;
}

.FunctionItem-editingCancelButton:hover {
  opacity: 0.85;
  cursor: pointer;
  background-color: transparent;
}

.FunctionItem-editingCancelButton:focus {
  outline: 2px solid var(--background-main-dark);
}
